.header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    background-color: black;
    font-weight: 600;
    color: whitesmoke;
    height: 70px
}

.logo {
    font-size: 22px;
}
