.header {
    display: flex;
    justify-content: left;
    padding: 0 15px;
    align-items: center;
    gap: 15px;
    background-color: black;
    font-weight: 600;
    color: whitesmoke;
    height: 70px
}

.logo {
    font-size: 22px;
    margin-right: 60px;
}

.authorization {
    margin-left: auto;
}